{% include 'base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <td>Artiste</td>
            <td>Origine</td>
            <td>Spotify</td>
            <td>Deezer</td>
            <td>Annee</td>
            <td>Edition</td>
            <td>Dates</td>
            <td>Langue</td>
            <td>Receive quest</td>
            <td>Ilomember</td>
            <td>Label_sp</td>
            <td>Label_en</td>
            <td>ONU_code</td>
        </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
        <tr>
            <td>{{ artiste.nom }}</td>
            <td>{{ artiste.origine.0 }}</td>
            <td>{{ artiste.spotify }}</td>
            <td>{{ artiste.deezer }}</td>
            <td>{{ artiste.annee }}</td>
            <td>{{ artiste.edition }}</td>
            <td>{{ artiste.isReceivingQuest }}</td>
            <td>{{ artiste.isIlomember }}</td>
            <td>{{ artiste.labelSp }}</td>
            <td>{{ artiste.labelEn }}</td>
            <td>{{ artiste.ONUCode }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
