{% if app.session.get('role') is not null %}
<table>
        <thead>
        <tr>
            <td><a href="{{ path('event_new') }}"><button class="btn-new">Ajouter un evennement</button></a></td>
            <td>Evennement</td>
            <td>Artiste</td>
            <td>Salle</td>
            <td>Edition</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
        <tr>
            <td><a href="{{ path('artiste_edit', {'id' : event.id}) }}"><button class="btn-green">Modifier</button></a></td>
            <td>{{ event.nom }}</td>
            <td>{{ event.ville.0 }}</td>
            <td>{{ event.spotify }}</td>
            <td>{{ event.deezer }}</td>
            <td>{{ event.deezer }}</td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}